<main>
  <div class="container-fluid mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="d-flex flex-column align-items-center">
          <a href="/estacionamento/cadastrarEstacionamento" class="btn mb-3">Criar Estacionamentos</a>
          <a href="/estacionamento/informacoesDoEstacionamento" class="btn mb-3">Informações de Estacionamentos</a>
          <a href="/estacionamento/remocaoEstacionamento" class="btn mb-3">Remover Estacionamentos</a>
          <a href="/estacionamento/atualizarEstacionamento" class="btn">Atualizar Estacionamentos</a>
        </div>
      </div>
    </div>
    <footer class="bg-dark text-light py-3 mt-auto">
      <div class="container text-center">
        <p class="mb-0">&copy; 2024 Estacionamento Privado. Todos os direitos reservados.</p>
        <p>
          <a href="/termos" class="text-light">Termos de Serviço</a> | 
          <a href="/privacidade" class="text-light">Política de Privacidade</a>
        </p>
        <p>
          <a href="https://facebook.com" class="text-light me-2"><i class="fab fa-facebook-f"></i></a>
          <a href="https://twitter.com" class="text-light me-2"><i class="fab fa-twitter"></i></a>
          <a href="https://instagram.com" class="text-light"><i class="fab fa-instagram"></i></a>
        </p>
      </div>
    </footer>
  </div>
</main>
